body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

label {
    font-weight: 500;
    margin-top: 10px;
}

input, select {
    font-size: 14px;
}

h4 {
    color: #333;
}
